/* Import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Inconsolata';
}

div{
  margin: 10% 30%;
}
