body{
    font-family:"Montserrat", sans-serif;
    background-color: rgb(244, 246, 245);
    color: rgb(56, 86, 112);
    padding-left: 2%;
    padding-right: 2%;
}

/*nav*/
.parent-nav{
    display: flex;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(127, 117, 109);
}

.profil-picture{
    width: 3.5rem;
    border: 3px solid rgb(179, 165, 154);
    border-radius: 100%;
}
.nav-right{
    text-align: right;
}

/*heads up*/
.headsup{
    padding-top: 3%;
}
.headsup a.highlight{
        color: rgb(210, 179, 151)}

/*heads up icon*/
i.fa-brands{
    font-size: 20px;
}

.btnscl{
    border: none;
}
.btnscl{
    transition: all .5s ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.btnscl .fa-github:hover{
    background:black;
    border-radius: 100px;
    padding-right: 20px;
    color: white;
}
.btnscl .fa-instagram:hover{
    background: linear-gradient(#4d5ba6,#e63161, #e9952a);
    border-radius: 100px;
    padding-right: 50px;
    color: white;
}